body {
  margin: 0;
  padding: 0;
  background-color: rgb(9,10,12);
  font-family: jetbrains;
  scroll-behavior: smooth;
}

.social-container {
    width: 90%;
    max-width: 800px;
    margin: 60px auto;
    text-align: center;
}

.social-heading {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 35px;
    color: white;
    cursor: default;
}

.social-button {
    width: 80%;
    max-width: 800px;
    margin: 10px auto;
    padding: 18px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e9ab4c;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    transition: 0.2s ease;
}

.social-button:hover {
    transform: translateY(-3px);
    opacity: 0.92;
    background: #f0b95c;
}

.icon {
    width: 28px;
    height: 28px;
    object-fit: contain;
    margin-right: 15px;
}

.social-btn span {
  flex: 1;
  text-align: center;
}

.social-btn .arrow {
  font-size: 24px;
  font-weight: 600;
}

.hero-pattern {
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.hero-pattern svg {
  width: 100%;
  height: 100%;
}