body {
  margin: 0;
  padding: 0;
  background-color: rgb(9,10,12);
  font-family: jetbrains;
  scroll-behavior: smooth;
}

.social-container {
    width: 90%;
    max-width: 800px;
    margin: 60px auto;
    text-align: center;
}

.social-heading {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 35px;
    color: white;
}

.social-button {
    background: #eab04d; /* sama seperti contoh */
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;

    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    margin-bottom: 18px;
    transition: 0.25s;
}

.social-button:hover {
    transform: translateY(-2px);
    background: #f0b95c;
}

.icon-left,
.icon-right {
    font-size: 22px;
}

.hero-pattern {
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.hero-pattern svg {
  width: 100%;
  height: 100%;
}