/* Global */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(9,10,12);
  font-family: jetbrains;
}

/* Header */
.header {
  width: 100%;
  height: 90px;
  background-color: rgb(9,10,12);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  box-sizing: border-box;
}

.logo img {
  height: 55px;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 40px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.9;
  transition: 0.25s ease;
}

.nav a:hover {
  opacity: 1;
}